
// Defining global variables
$green-color: rgb(25, 156, 51);
$light-blue: rgb(41, 115, 243);
$dark-blue: rgb(3, 28, 121);

// Define mixins
@mixin button-styles {
  border: none;
  border-radius: 4px;
  color: white;
}

// Styles for .employee-form
.employee-form {
  margin: 60px;
  padding: 10px;
}

// Styles for .form-row
.form-row {
  display: flex;
  column-gap: 40px;
  margin-bottom: 15px;

  // Styles for .form-group
  .form-group {
    display: flex;
    flex-direction: column;
  }
}

// Styles for input fields
input {
  width: 410px;
  padding: 0 10px;
}

// Styles for gender inputs
.gender-input {
  display: flex;
  column-gap: 20px;

  // Styles for male and female inputs
  .male-input, .female-input {
    display: flex;
    column-gap: 5px;
  }

  input {
    width: 10px;
  }
}

// Styles for skill inputs
.skill-input input {
  width: 195px;
  margin-right: 10px;
}

.skill-input {
  margin-bottom: 10px;
}

.skill-input #skill {
  width: 195px;
  height: 28px;
}

// Styles for skill heading and button
.skill-heading {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

  // Styles for button
  button {
    @include button-styles;
    padding: 3px 5px 3px 5px;
    background-color: $green-color;
  }
}

// Styles for radio inputs
input[type="radio"] {
 appearance:none;
  border-radius: 100%;
  border: 2px solid #999;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
}

input[type="radio"]:checked {
  background-color: #0476cd;
}

// Styles for delete button
#delete-btn {
  margin-left: 6px;
  @include button-styles;
  background-color: red;
}

// Styles for submit button
#btn-submit {
  @include button-styles;
  background-color: $light-blue;
  padding: 5px 8px 5px 8px;
}

// Active state styles for submit button
#btn-submit:active {
  background-color: $dark-blue;
}
